@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Display", serif;
  scroll-behavior: smooth;
}
a {
  color: black;
  text-decoration: none;
}
header {
  background-color: #718355;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header img {
  margin-left: 1rem;
  width: 200px;
  height: 100px;
}
.nav-link ul {
  gap: 1rem;
  margin-right: 1rem;
}
.nav-link li {
  list-style-type: none;
  display: inline;
  padding: 0.7rem;
  font-size: 1.3rem;
  position: relative;
}
.nav-link li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.4s ease-in-out;
}

.nav-link li:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
}
/* main */
.main-content {
  width: 100%;
  height: 100vh;
  background-color: #b5c99a;
  position: relative;
  margin-top: 5rem;
}
.main-content h2 {
  position: absolute;
  margin-top: 5rem;
  font-size: 2rem;
  display: flex;
  margin-left: 5.4rem;
  flex-direction: column;
}
.main-content h1 {
  font-size: 5rem;
  position: absolute;
  margin-top: 6rem;
  margin-left: 5rem;
}
.main-content img {
  width: 25rem;
  height: 93vh;
  position: absolute;
  left: 60%;
  transform: rotatey(180deg);
  filter: drop-shadow(0 0 20px);
  border-radius: 40%;
}
.abt {
  width: 40rem;
  text-align: justify;
  position: absolute;
  top: 17rem;
  left: 5rem;
}
.loader {
  position: absolute;
  font-size: 25px;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: flex;
  border-radius: 8px;
  margin-top: 12.5rem;
  margin-left: 14rem;
  color: #e9f5db;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  animation: cycle-words 5s infinite;
}
@keyframes cycle-words {
  10% {
    transform: translateY(-105%);
  }
  15% {
    transform: translateY(-105%);
  }
}

.button {
  position: absolute;
  margin-top: 23rem;
  margin-left: 5rem;
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #87986a;
  text-align: center;
  width: 7em;
  padding: 1em;
  font-size: medium;
  transition: all 0.4s;
  cursor: pointer;
  overflow: hidden;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: "Download";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.25s;
}

.button:hover span {
  padding-left: 6rem;
}

.button:hover span:after {
  opacity: 4;
  right: 70px;
}

/* social  */

.card {
  position: absolute;
  width: fit-content;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 29rem;
  margin-left: 4rem;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: #718355;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: orangered;
  transition-duration: .3s;
}
/* github*/
.containerTwo:hover {
  background-color: brown;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: black;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* about section */
.about-section {
  padding: 5px;
  background-color: #e9f5db;
  text-align: center;
}
.about-section h1 {
  font-size: 2rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.about-section h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -5px;
}
.about-section p {
  padding: 1rem;
  line-height: 1.5rem;
  font-size: large;
  font-weight: lighter;
}
.detail {
  display: flex;
  justify-content: space-evenly;
}
.abouts p {
  font-size: 20px;
}
.abouts p span {
  margin-right: 1rem;
}
/* skills */
.skills {
  background-color: #b5c99a;
  height: 120vh;
  text-align: center;
}
.skills h1 {
  font-size: 2rem;
  position: relative;
  margin-top: 5rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.skills h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -5px;
}
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}
.skills-icons img {
  width: 10%;
}

.body {
  margin-top: 1rem;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.skill {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 120px;
  font-size: 1.5rem;
  color: #e9f5db;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #333;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 1.5rem;
}
.round {
  width: 30rem;
  background-color: #87986a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

/* projects */
.projects {
  background-color: #e9f5db;
  height: 100vh;
  text-align: center;
}
.projects .project-title {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.project-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -5px;
}
.projects-timeline {
  margin-top: 1rem;
}
/* Timeline container */
.projects-timeline {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-left: 2rem;
}

/* Individual timeline item */
.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

/* Dot design */
.dot {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

/* Line connecting dots */
.line {
  width: 2px;
  height: 50px;
  background-color: #ccc;
  position: absolute;
  top: 20px; /* Start below the dot */
  left: 10px; /* Center line under the dot */
  z-index: 0;
}

/* The last timeline item should not have a line */
.timeline-item:last-child .line {
  display: none;
}

/* Text next to the timeline */
.timeline-item p {
  margin-left: 2rem;
  font-size: 1.1rem;
  color: #333;
}
.timeline-item > p {
  font-size: 1.5rem;
}
/* contact */
.contact {
  height: 100vh;
  background-color: #87986a;
  text-align: center;
}
.contact-title {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.contact-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -5px;
}
/* General styling for the form */
form {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.2rem;
  float: inline-start;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus {
  border-color: #718355;
  outline: none;
}

button[type="submit"] {
  background-color: #718355;
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #718355c9;
}
/* footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #e9f5db;
  font-size: 1rem; /* Smaller font for footer */
}

/* responsive */
@media screen and (max-width: 425px) {
  /* Prevent horizontal scroll */
  html,
  body {
    overflow-x: hidden;
  }

  /* Ensure all sections fit within the viewport */
  .container,
  .section,
  .header,
  .footer {
    max-width: 100vw;
    overflow: hidden;
  }

  header {
    background-color: #718355;
    width: 425px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  header img {
    padding: 10px;
    width: 100px;
    height: 100px;
  }
  .nav-link ul {
    gap: 10px;
    margin-right: 10px;
    display: none;
  }
  .nav-link li {
    list-style-type: none;
    display: inline;
    padding: 0.3rem;
    font-size: 1rem;
    position: relative;
  }
  .nav-link li::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.4s ease-in-out;
  }

  .nav-link li:hover::after {
    width: 100%;
  }
  .hamburger {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    margin-right: 3rem;
  }
  .unorder {
    margin-top: 7rem;
    margin-left: 5rem;
    padding: 1rem;
  }
  .unorder li {
    display: block;
    font-size: 1.1rem;
  }
  .main-content {
    width: 425px;
    background-color: #b5c99a;
    position: relative;
    margin-top: 1rem;
  }
  .main-content h2 {
    position: absolute;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }
  .main-content h1 {
    font-size: 2rem;
    margin-left: 1rem;
    position: absolute;
  }
  .main-content img {
    width: 10rem;
    height: 50%;
    margin-top: 3rem;
    position: absolute;
    left: 65%;
    transform: rotatey(180deg);
    filter: drop-shadow(0 0 20px);
    border-radius: 40%;
  }
  .abt {
    width: 20rem;
    text-align: start;
    position: absolute;
    top: 17rem;
    left: 0.7rem;
  }
  .loader {
    position: absolute;
    font-size: 25px;
    box-sizing: content-box;
    padding: 10px 10px;
    display: flex;
    border-radius: 8px;
    margin-top: 8.5rem;
    margin-left: 0.5rem;
    color: #e9f5db;
  }
  .words {
    overflow: hidden;
  }

  .word {
    display: block;
    height: 100%;
    color: black;
    padding-left: 6px;
    animation: cycle-words 5s infinite;
  }
  @keyframes cycle-words {
    10% {
      transform: translateY(-105%);
    }
    15% {
      transform: translateY(-105%);
    }
  }

  /* From Uiverse.io by Custyyyy */
  /* From Uiverse.io by Angel-999 */
  .button {
    position: absolute;
    margin-top: 25rem;
    margin-left: 3rem;
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #87986a;
    text-align: center;
    width: 7em;
    padding: 1em;
    font-size: medium;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }

  .button span:after {
    content: "Download";
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.25s;
  }

  .button:hover span {
    padding-left: 6rem;
  }

  .button:hover span:after {
    opacity: 4;
    right: 70px;
  }
  /* social  */

.card {
  position: absolute;
  width: fit-content;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  margin-top: 30rem;
  margin-left: 2.5rem;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 30px;
  height: 30px;
  background-color: #718355;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: orangered;
  transition-duration: .3s;
}
/* github*/
.containerTwo:hover {
  background-color: brown;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 10px;
}

.socialSvg path {
  fill: black;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

  /* about section */
  .about-section {
    padding: 5px;
    background-color: #e9f5db;
    text-align: center;
  }
  .about-section h1 {
    font-size: 2rem;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: inline-block;
  }
  .about-section h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    left: 0;
    bottom: -5px;
  }
  .about-section p {
    padding: 0.5rem;
    line-height: 1.3rem;
    font-size: 15px;
    text-align: justify;
    font-weight: lighter;
  }
  .detail {
    display: block;
    text-align: start;
  }
  .abouts p {
    font-size: 20px;
  }
  .abouts p span {
    margin-right: 1rem;
  }
  /* skills */
  .skills {
    background-color: #b5c99a;
    height: 120vh;
    text-align: center;
  }
  .skills h1 {
    font-size: 2rem;
    position: relative;
    margin-top: 5rem;
    display: inline-block;
    margin-bottom: 2rem;
  }
  .skills h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    left: 0;
    bottom: -5px;
  }
  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5rem;
  }
  .skills-icons img {
    width: 10%;
  }

  .body {
    display: block;
  }

  .skill {
    margin-top: 0.5rem;
    align-items: center;
    margin-bottom: 10px;
  }

  .skill-name {
    width: 100px;
    font-size: 1rem;
    color: #e9f5db;
  }

  .skill-level {
    width: 100px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }

  .skill-percent {
    background-color: #333;
    height: 100%;
  }

  .skill-percent-number {
    margin-left: 20px;
    font-size: 1rem;
  }
  .round {
    width: 22rem;
    margin-top: 10px;
    align-items: center;
    background-color: #87986a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
  }
  /* projects */
  .projects {
    background-color: #e9f5db;
    height: 100vh;
    text-align: center;
  }
  .projects .project-title {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .project-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    left: 0;
    bottom: -5px;
  }
  .projects-timeline {
    margin-top: 1rem;
  }
  /* Timeline container */
  .projects-timeline {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    margin-left: 2rem;
  }

  /* Individual timeline item */
  .timeline-item {
    display: flex;
    text-align: start;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
  }

  /* Dot design */
  .dot {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  /* Line connecting dots */
  .line {
    width: 2px;
    height: 67px;
    background-color: #ccc;
    position: absolute;
    top: 20px; /* Start below the dot */
    left: 10px; /* Center line under the dot */
    z-index: 0;
  }

  /* The last timeline item should not have a line */
  .timeline-item:last-child .line {
    display: none;
  }

  /* Text next to the timeline */
  .timeline-item p {
    font-size: 1.1rem;
    color: #333;
  }
  .timeline-item > p {
    font-size: 1.3rem;
  }
  /* contact */
  .contact {
    height: 100vh;
    background-color: #87986a;
    text-align: center;
  }
  .contact-title {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
  }
  .contact-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    left: 0;
    bottom: -5px;
  }
  /* General styling for the form */
  form {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  label {
    font-size: 1.2rem;
    float: inline-start;
  }

  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }

  input:focus {
    border-color: #718355;
    outline: none;
  }

  button[type="submit"] {
    background-color: #718355;
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #718355c9;
  }
  /* footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #e9f5db;
    font-size: 1rem; /* Smaller font for footer */
  }
}
